{% extends "layout.html" %}

{% block title %}Chai and tweet{% endblock %}

{% block content %}
    <h1 class="text-center text-green">Chai Headquarter</h1>
    
    <h2>{% if form.instance.pk %}
        Edit tweet
        {% else %} 
        Create tweet
        {% endif %} 
        
        <form method="POST" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form> 
        <a href="{% url 'tweet_list' %}" class="btn btn-secondary">Back</a>
    </h2>
{% endblock %}