{% extends "layout.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search Results for "{{ query }}"</h1>
    {% if tweets %}
        <div class="container row gap-3">
            {% for tweet in tweets %}
            <div class="card" style="width: 18rem;background:rgb(21, 23, 25);">
                {% if tweet.photo %}
                    <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet photo">
                {% endif %}
                <div class="card-body text-white">
                    <h5 class="card-title">
                        <span style="margin-right: 10px;">{{ tweet.user.username }}</span>
                        <span>{{ tweet.created_at }}</span>
                    </h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    <a href="{% url 'tweet_view' tweet.id %}" class="btn btn-primary">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No tweets found matching your query.</p>
    {% endif %}
{% endblock %}
